*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui;
}
body{
    background: whitesmoke;

}
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 70px;
    background-color: #1c1c1c;
    padding-right: 50px;
    padding-left: 50px;
    position: fixed;
    box-shadow: 0 4px 8px black;
}
.navbar img{
    width: 160px;
    height: 75%;
}
.menu ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
    list-style: none;
    color: white;
    text-decoration: none;
}
.menu ul li a{
    list-style: none;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
}
.home{
    background-image: radial-gradient(circle at center, #ff9f2b 0%, black 100%);
    width: 100%;
    height: 800px;
    margin: 0 auto;
    /*padding-top: 100px;*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}
.home-content{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    gap: 20px;

}
.home-content h1{
    font-weight: lighter;
    font-size: 53px;
    max-width: 750px;
    text-align: center;
}
.home-content p{
    /*font-weight: lighter;*/
    font-size: 16px;
    max-width: 600px;
    text-align: center;
}
.register ,.discover{
    width: 130px;
    height: 37px;
    border-radius: 40px;
    font-weight: lighter;
    font-size: 16px;
    border: none;
}
.register{
    background-color:orange;
    color: black;
}
.discover{
    background-color: transparent;
    color: whitesmoke;
    border: 1px solid whitesmoke ;
}
.home-content img{
    max-width: 700px;
    border-radius: 30px;
}
.potential{
    background-color:  #ff9f2b;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 80px;
    padding-bottom: 80px;
    z-index: 10;
}
.potential-content{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;

}
.left-content{
    width: 50%;
}
.left-content h2{
    font-size: 25px;
}
.left-content p{
    color: #1c1c1c;
    padding-top: 20px;
}
.right-content{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #1c1c1c;
}
.right-content input ,button{
    padding-left: 7px;
    border: none;
    height: 40px;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.70);
    font-size: 17px;
}
.register-form{
    background-color: transparent;
    color: #1c1c1c;
    border: 1px solid #1c1c1c ;
    border-radius: 40px;
}
.training{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.training-content{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 80px;
}
.training-content img{
    max-width: 500px;
    border-radius: 30px;
}
.training-content h2{
    font-size: 28px;
    color: #1c1c1c;
}
.training-content p{
    margin-top: 20px;
    color: #515151;
}
.options{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    place-items: center;
}
.option-content{
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}
.numbers{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;
}
.numbers section{
    align-items: start;
    justify-content: start;
    text-align: start;
    gap: 0;
}
.summery{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 50px;
}
.summery-content{
    width: 70%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: start;
    background-color: white;
}
.summery-content p{
    width: 100%;
    border-bottom: 0.5px solid #515151;
    margin-top: 15px;
    padding-bottom: 15px;
    color: #515151;
}
.advertising{
    width: 100%;
    background-size: cover;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.invitation-content{
    width: 70%;
    height: 400px;
    border-radius: 30px;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: whitesmoke;
}
.invitation-content p{
    max-width: 75%;
    color: whitesmoke;
    text-align: center;
}
.invitation-content button{
    width: 15%;
    height: 40px;
    border-radius: 30px;
    background-color:  #fba736;
    color: black;
    font-weight: lighter;
}
.subscribe{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 50px;
}
.subscribe-content{
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.subscribe-content button{
    width: 100%;
    border-radius: 40px;
    background-color:  #fba736;
    color: black;
    margin-top: 23px;
}
.subscribe-content input{
    width: 100%;
    border-radius: 5px;
    border: 0.3px solid dimgrey;
    color: grey;
    margin-top: 20px;
    height: 40px;
    background-color: transparent;
    padding-left: 10px;
    font-size: 18px;
}
.subscribe-content p{
    font-size: 13px;
    color: grey;
}
.footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: start;
    background-color: #20202c;
    gap: 100px;
    color: whitesmoke;
}
.footer div{
    width: 30%;
}
.quick-links{
    list-style: none;
}
.quick-links a{
    color: #fdbf4b;
}